#####Notebook para Explora√ß√£o, limpeza e tratamento de Dados, do arquivo:
#####2-CHURN_PERFIL_ENRIQUECIDO.csv p√≥s enriquecimento feito no PDI

In [ ]:
#!pip install <nome biblioteca>

In [ ]:
import pandas as pd
import seaborn as srn
import statistics  as sts

In [ ]:
from google.colab import files
upload = files.upload()

In [ ]:
#importar dados
dataset = pd.read_csv("2-CHURN_PERFIL_ENRIQUECIDO.csv", sep=";")
#visulizar - dados
dataset.head()

In [ ]:
#dar conformidade ao nome das colunas
dataset.columns = ["id","genero","idade","uf","indcliente","anomes","estadocivil","escolaridade","mensalidade","participacao"]

#**Explora√ß√£o INICIAL**

In [ ]:
#visulizar -
dataset.head()

In [ ]:
#tamanho
dataset.shape

In [ ]:
#contamos valores NA (Not Avaiable) =null
dataset.isnull().sum()

#**G√äNERO -> CATEG√ìRICO**
ausentes - n√£o possui
dado fora dom√≠nio diferente de:
*  Masculino(M)
*   Feminino(F)
*   Ag√™nero(A)
*   Big√™nero(B)
*   Outros (N√£o-bin√°rio,G√™nero-fluido etc.) (O)

##üè∏*!!!!Explora de G√äNERO*

In [ ]:
#genero - explorar dom√≠nio - dado categ√≥rico
group = dataset.groupby(['genero']).size()
result = group.sort_values(ascending=False)
result

In [ ]:
result.plot.bar(color = 'gray')

#**ANO M√äS -> NUM√âRICO**
ausentes - n√£o possui

##üè∏*!!!!Explora ANOMES*

In [ ]:
#anomes -dados categoricos de refer√™ncia
group = dataset.groupby(['anomes']).size()
result = group.sort_values(ascending=False)
result

#**INDICADOR CLIENTE -> NUM√âRICO**
ausentes - n√£o possui - indcliente=0

##üè∏*!!!!Explora INDCLIENTE*

In [ ]:
#indcliente -dados categoricos
group = dataset.groupby(['indcliente']).size()
result = group.sort_values(ascending=False)
result

#**IDADE -> NUM√âRICO**
*   ausentes - n√£o possui
*   outliers - mediana -Considera outliers idades negativas e acima de 100 anos.


##üè∏*!!!!Explora IDADE ANTES*

In [ ]:
#visulizar
dataset.head()

In [ ]:
#IDADE - explorar dom√≠nio √© um atributo num√©rico
#outliers - Idades fora do dom√≠nio -idade < 0 (regra universal) e idade > 100
dataset['idade'].describe()

In [ ]:
#boxplot outiliers - Qualquer valor abaixo do Limite Inferior ou acima do Limite Superior- √© plotado como um ponto separado no gr√°fico boxplot
srn.boxplot(dataset['idade']).set_title('idade')

In [ ]:
srn.histplot(dataset['idade'],kde=True).set_title('idade')

In [ ]:
#visualizar outiliers definidos - idades menores que zero e maiores que 100
idades_outliers= dataset.loc[(dataset['idade'] <  0 )  | ( dataset['idade'] >  100) ]
idades_outliers

## ‚ö°*!!!!Trata IDADE*

In [ ]:
#calculo da mediana
mediana = int(sts.median(dataset['idade']))
mediana

In [ ]:
#substituir outiliers pelo resultado da mediana
dataset.loc[(dataset['idade'] <  0 )  | ( dataset['idade'] >  100), 'idade'] = mediana


## ‚úÖ*!!!!Explora IDADE P√ìS*

In [ ]:
#visualiza substitui√ß√£o de idade
dataset[dataset['id'].isin(idades_outliers['id'])]

In [ ]:
#visualizar outliers
dataset.loc[(dataset['idade'] <  0 )  | ( dataset['idade'] >  100) ]

#**UF -> CATEG√ìRICO**



*   dados ausentes-> n√£o possui

*   dado fora dom√≠nio -> pela regra de neg√≥cio s√£o: N√£o pertencem a regi√£o NORDESTE e n√£o pertencentes ao Brasil

##üè∏*!!!!Explora UF ANTES*

In [ ]:
#UF -  dados categoricos - substituiur pela moda
group = dataset.groupby(['uf']).size()
result = group.sort_values(ascending=False)
result

In [ ]:
result.plot.bar(color = 'blue')


## *‚ö°!!!!Trata UF*

In [ ]:
#SUBISTITUIR PELO ESTADO DE MAIOR FREQUENCIA - BA
# Definindo a lista de estados do Nordeste brasileiro
nordeste = ['AL', 'BA', 'CE', 'MA', 'PB', 'PE', 'PI', 'RN', 'SE']

# Tratando o dom√≠nio categ√≥rico, substituindo pela moda (maior frequ√™ncia - 'BA')
group = dataset.groupby(['uf']).size()

# Ordenando os resultados em ordem descendente
result = group.sort_values(ascending=False)

# Pegando a moda (primeiro valor do resultado ordenado)
moda = result.index[0]

# Substituindo os valores n√£o pertencentes ao Nordeste pela moda ('BA')
dataset.loc[~dataset['uf'].isin(nordeste), 'uf'] = moda

## ‚úÖ*!!!!Explora UF P√ìS*

In [ ]:
#Validar se fez subsitui√ß√£o pela moda
group = dataset.groupby(['uf']).size()
result = group.sort_values(ascending=False)
result

#**ESTADO CIVIL -> CATEG√ìRICO**



*   dados ausentes (NULLS)-> possui -> substituir pela moda
*   dado fora dom√≠nio -> diferentes de:

1.   Casado(a)
2.   Vi√∫vo(a)
1.   Solteiro(a)
1.   Divorciado(a)
1.   Separado(a)
2.   Uni√£o Est√°vel

##üè∏*!!!!Explora ESTADOCIVIL ANTES*

In [ ]:
#visulizar
dataset.head()

In [ ]:
#explorar dados categoricos -estado civil
group = dataset.groupby(['estadocivil']).size()
result = group.sort_values(ascending=False)
result

In [ ]:
result.plot.bar(color = 'blue')

In [ ]:
#Verificamos quantidades NAs
dataset['estadocivil'].isnull().sum()

## *‚ö°!!!!Trata ESTADOCIVIL*

In [ ]:
# Calcula a moda
moda = dataset['estadocivil'].mode()[0]

# Substituir os valores ausentes pela moda
dataset['estadocivil'] = dataset['estadocivil'].fillna(moda)

## ‚úÖ*!!!!Explora ESTADOCIVIL P√ìS*

In [ ]:
#verificamos novamente NANs
dataset['estadocivil'].isnull().sum()

In [ ]:
#validar dados categoricos -estado civil - nulos foram substituidos pela moda
group = dataset.groupby(['estadocivil']).size()
result = group.sort_values(ascending=False)
result

#**ESCOLARIDADE -> CATEG√ìRICO**
*   dados ausentes-> possui -> substitui pela moda
*   dado fora dom√≠nio -> diferentes de:
1.   Ensino Fundamental Incompleto
2.   Ensino Fundamental Completo
1.   Ensino M√©dio Incompleto
2.   Ensino M√©dio Completo
1.   Ensino Superior Incompleto
2.   Bacharelado
1.   Mestrado
2.   Doutorado
1.   P√≥s-Gradua√ß√£o

## üè∏*!!!!Explora ESCOLARIDADE ANTES*

In [ ]:
#visulizar
dataset.head()

In [ ]:
#explorar dados categoricos -estado civil - substituir pela moda
result = dataset.groupby(['escolaridade']).size()
result = result.sort_values(ascending=False)
result

In [ ]:
result.plot.bar(color = 'blue')

In [ ]:
#contamos  NANs
dataset['escolaridade'].isnull().sum()

## *‚ö°!!!!Trata ESCOLARIDADE*

In [ ]:
### Substituir  ESCOLARIDADE pela MODA  - bacharelado

# Calcula a moda
moda = dataset['escolaridade'].mode()[0]

# Substituir os valores ausentes pela moda e substituir  a coluna
dataset['escolaridade'] = dataset['escolaridade'].fillna(moda)

## ‚úÖ*!!!!Explora ESCOLARIDADE P√ìS*

In [ ]:
#contamos  NANs
dataset['escolaridade'].isnull().sum()

In [ ]:
#validar dados categoricos - nulos foram substituidos pela moda
group = dataset.groupby(['escolaridade']).size()
result = group.sort_values(ascending=False)
result

#**MENSALIDADE -> NUM√âRICO**

*  dados ausentes->possui ->normaliza√ß√£o do dado pela m√©dia condicional por idade
*  Outliers -> Ser√£o considerados outliers valores acima de R$4500,00, conforme faixa de valores vigentes.- substituir pela m√©dia condicional


```
# De 0 a 19 - R$ 250,00   De 20 a 25 ‚Äì R$ 550,00
  De 26 a 30 ‚Äì R$ 675,00  De 31 a 40 ‚Äì R$ 750,00
  De 41 a 50 ‚Äì R$ 875,00  De 51 a 60 ‚Äì R$ 1035,00
  De 61 a 75 ‚Äì R$ 1500,00 Mais de 76 ‚Äì R$ 1850,00

##üè∏*!!!!Explora MENSALIDADE ANTES*

In [ ]:
dataset.head()

In [ ]:
#descreve estat√≠sticas
dataset['mensalidade'].describe()

In [ ]:
srn.boxplot(dataset['mensalidade']).set_title('mensalidade')

In [ ]:
srn.histplot(dataset['mensalidade'],kde=True).set_title('mensalidade')

In [ ]:
#contamos NANs
dataset['mensalidade'].isnull().sum()

In [ ]:
# Verificando quais valores na coluna 'mensalidade' est√£o nulos
valores_nulos = dataset['mensalidade'].isnull()
# Exibindo as linhas
linhas_com_nulos = dataset[valores_nulos]
linhas_com_nulos

## *‚ö°!!!!Trata MENSALIDADE*

In [ ]:
# Calculando a m√©dia das mensalidades condicionada √†s idades
mean_mensalidade = dataset.groupby('idade')['mensalidade'].mean()

In [ ]:
#visualiza media de salarios entre 45 e 50
mean_mean_mensalidade_filtrado = mean_mensalidade[(mean_mensalidade.index >= 45) & (mean_mensalidade.index <= 48)]
mean_mean_mensalidade_filtrado

In [ ]:
# Preenchendo as mensalidades nulas com as m√©dias correspondentes
for idade, media in mean_mensalidade.items():
    dataset.loc[(dataset['idade'] == idade) & (dataset['mensalidade'].isnull()), 'mensalidade'] = media

In [ ]:
#tipo_dados_mensalidade = muda para inteiro
dataset['mensalidade'] = dataset['mensalidade'].astype('int64')

## ‚úÖ*!!!!Explora MENSALIDADE P√ìS*

In [ ]:
#verificamos novamente NANs
dataset['mensalidade'].isnull().sum()

In [ ]:
#visualiza substituri√ß√£o de mensalidade
linhas_id = dataset[dataset['id'].isin(linhas_com_nulos['id'])]
linhas_id

#**COPARTICIPA√á√ÉO -> NUM√âRICO**

*   dados ausentes-  possui - substituir pela mediana
*   Outliers ->  considerar 4 * desvio padr√£o - substituir pela mediana

##üè∏*!!!!Explora COPARTICIPACAO ANTES*

In [ ]:
#Participa√ß√£o - analise
dataset['participacao'].describe()

In [ ]:
srn.boxplot(dataset['participacao']).set_title('participacao')

In [ ]:
srn.histplot(dataset['participacao'],kde=True).set_title('participacao')

In [ ]:
#conta NANs
dataset['participacao'].isnull().sum()

In [ ]:
# Verificando quais valores na coluna 'participacao' est√£o nulos
valores_nulos_part = dataset['participacao'].isnull()
# Exibindo as linhas onde 'participacao' √© nulo
linhas_com_nulos_part = dataset[valores_nulos_part]
linhas_com_nulos_part

## *‚ö°!!!!Trata COPARTICIPACAO*

In [ ]:
#calular a mediana
mediana = sts.median(dataset['participacao'].dropna())
mediana

In [ ]:
#substituir NAN por mediana
dataset['participacao'] = dataset['participacao'].fillna(mediana)

In [ ]:
#calculo desvio padr√£o para participa√ß√£o - para verificar outiliers
desv = sts.stdev(dataset['participacao'])
desv

In [ ]:
#checamos os outliers existentes -perfis com participacao maior que 4 desvios padr√£o
linhas_part_outliers= dataset.loc[dataset['participacao'] > 4*desv ]
linhas_part_outliers

In [ ]:
# Definir outliers como 4 desvios padr√£o e atribuir a mediana
dataset['participacao'] = dataset['participacao'].apply(lambda x: mediana if x >= 4 * desv else x)

##‚úÖ*!!!!Explora COPARTICIPACAO P√ìS*

In [ ]:
#conta NANs
dataset['participacao'].isnull().sum()

In [ ]:
#visualiza substituri√ß√£o de participa√ß√£o nula
linhas_id_part = dataset[dataset['id'].isin(linhas_com_nulos_part['id'])]
linhas_id_part

In [ ]:
#checamos se h√° outliers
dataset.loc[dataset['participacao'] >= 4 * desv ]

In [ ]:
#Visualiza substitui√ß√£o pelo id
linhas_id_part = dataset[dataset['id'].isin(linhas_part_outliers['id'])]
linhas_id_part

In [ ]:
#tipo_dados_participacao = muda para inteiro
dataset['participacao'] = dataset['participacao'].astype('int64')

#**Explora√ß√£o FINAL**

In [ ]:
#visualizar o cabe√ßalho
dataset.head()

In [ ]:
#visualizar o sumario de linhas x colunas
dataset.shape